<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://media-cdn.tripadvisor.com/media/photo-m/1280/1c/63/74/76/hemispheres-steak-seafood.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://media-cdn.tripadvisor.com/media/photo-m/1280/1c/63/74/76/hemispheres-steak-seafood.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://media-cdn.tripadvisor.com/media/photo-m/1280/1c/63/a8/a1/nha-trang-lobster-tom.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="main-loop-heading"><h2>Danh sách các Nhà hàng nổi bật</h2></div>

<div class="row">
   <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="single-product-loop">
         <div class="product-thumbnail">
            <a rel="nofollow bookmark" href="https://ticotravel.com.vn/villa/villa-da-nang-tico-15-ngu-hanh-son/" itemprop="url"><img itemprop="image" src="https://ticotravel.com.vn/wp-content/uploads/2020/02/Villa-Dà-Nãng-1-3-480x360.jpg" width="100%" height="auto" alt="Ảnh đại diện VILLA ĐÀ NẴNG TICO 15 NGŨ HÀNH SƠN"></a>
            <div class="product-price" itemprop="priceRange"><ins><span class="lien_he_text">Liên hệ <span><span class="design0" itemprop="priceRange"></span></span></span></ins></div>
         </div>
         <div class="product-info">
            <a href="https://ticotravel.com.vn/villa/villa-da-nang-tico-15-ngu-hanh-son/" rel="nofollow bookmark">
               <h3 class="product-title" itemprop="name"><span>Nhà Hàng ĐÀ NẴNG 15 NGŨ HÀNH SƠN</span></h3>
            </a>
            <div class="custom_star-rating"><a rel="nofollow" href="https://ticotravel.com.vn/villa/villa-da-nang-tico-15-ngu-hanh-son/#tab-reviews"><span class="average-rating"><span class="rating-value">5</span><span class="maximum-value">/5</span> </span><span class="star-rating" role="img" aria-label="Được xếp hạng 5.00/5 sao"><span class="star-rating_value" style="width: 100%;"></span></span><span class="total_vote hidden"><span class="vote_number">1</span><span class="vote_text">vote</span></span></a></div>
            <div class="villa_custom_field">
               <table>
                  <tbody>
                     <tr>
                        <td><i class="mask_icon vi_tri"></i></td>
                        <td class="villa_address" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Khuê Mỹ, Ngũ Hành Sơn, Đà Nẵng</span></td>
                     </tr>
                     <tr class="villa_detail">
                        <td><i class="mask_icon villa"></i></td>
                        <td>4 phòng ngủ, 4 giường, 4 toilet</td>
                     </tr>
                     <tr class="unity">
                        <td><i class="mask_icon be_boi"></i></td>
                        <td>Có bể bơi</td>
                     </tr>
                     <tr class="so_nguoi">
                        <td><i class="mask_icon guest"></i></td>
                        <td>8 - 12 người</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <span class="design0" itemprop="telephone">0943333333</span>
            <div class="product-link"><a rel="nofollow bookmark" href="https://ticotravel.com.vn/villa/villa-da-nang-tico-15-ngu-hanh-son/">Xem chi tiết</a></div>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="single-product-loop">
         <div class="product-thumbnail">
            <a rel="nofollow bookmark" href="https://ticotravel.com.vn/villa/villa-da-nang-tico-15-ngu-hanh-son/" itemprop="url"><img itemprop="image" src="https://ticotravel.com.vn/wp-content/uploads/2020/02/Villa-Dà-Nãng-1-3-480x360.jpg" width="100%" height="auto" alt="Ảnh đại diện VILLA ĐÀ NẴNG TICO 15 NGŨ HÀNH SƠN"></a>
            <div class="product-price" itemprop="priceRange"><ins><span class="lien_he_text">Liên hệ <span><span class="design0" itemprop="priceRange"></span></span></span></ins></div>
         </div>
         <div class="product-info">
            <a href="https://ticotravel.com.vn/villa/villa-da-nang-tico-15-ngu-hanh-son/" rel="nofollow bookmark">
               <h3 class="product-title" itemprop="name"><span>Nhà Hàng ĐÀ NẴNG 15 NGŨ HÀNH SƠN</span></h3>
            </a>
            <div class="custom_star-rating"><a rel="nofollow" href="https://ticotravel.com.vn/villa/villa-da-nang-tico-15-ngu-hanh-son/#tab-reviews"><span class="average-rating"><span class="rating-value">5</span><span class="maximum-value">/5</span> </span><span class="star-rating" role="img" aria-label="Được xếp hạng 5.00/5 sao"><span class="star-rating_value" style="width: 100%;"></span></span><span class="total_vote hidden"><span class="vote_number">1</span><span class="vote_text">vote</span></span></a></div>
            <div class="villa_custom_field">
               <table>
                  <tbody>
                     <tr>
                        <td><i class="mask_icon vi_tri"></i></td>
                        <td class="villa_address" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Khuê Mỹ, Ngũ Hành Sơn, Đà Nẵng</span></td>
                     </tr>
                     <tr class="villa_detail">
                        <td><i class="mask_icon villa"></i></td>
                        <td>4 phòng ngủ, 4 giường, 4 toilet</td>
                     </tr>
                     <tr class="unity">
                        <td><i class="mask_icon be_boi"></i></td>
                        <td>Có bể bơi</td>
                     </tr>
                     <tr class="so_nguoi">
                        <td><i class="mask_icon guest"></i></td>
                        <td>8 - 12 người</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <span class="design0" itemprop="telephone">0943333333</span>
            <div class="product-link"><a rel="nofollow bookmark" href="https://ticotravel.com.vn/villa/villa-da-nang-tico-15-ngu-hanh-son/">Xem chi tiết</a></div>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="single-product-loop">
         <div class="product-thumbnail">
            <a rel="nofollow bookmark" href="https://ticotravel.com.vn/villa/villa-da-nang-tico-15-ngu-hanh-son/" itemprop="url"><img itemprop="image" src="https://ticotravel.com.vn/wp-content/uploads/2020/02/Villa-Dà-Nãng-1-3-480x360.jpg" width="100%" height="auto" alt="Ảnh đại diện VILLA ĐÀ NẴNG TICO 15 NGŨ HÀNH SƠN"></a>
            <div class="product-price" itemprop="priceRange"><ins><span class="lien_he_text">Liên hệ <span><span class="design0" itemprop="priceRange"></span></span></span></ins></div>
         </div>
         <div class="product-info">
            <a href="https://ticotravel.com.vn/villa/villa-da-nang-tico-15-ngu-hanh-son/" rel="nofollow bookmark">
               <h3 class="product-title" itemprop="name"><span>Nhà Hàng ĐÀ NẴNG 15 NGŨ HÀNH SƠN</span></h3>
            </a>
            <div class="custom_star-rating"><a rel="nofollow" href="https://ticotravel.com.vn/villa/villa-da-nang-tico-15-ngu-hanh-son/#tab-reviews"><span class="average-rating"><span class="rating-value">5</span><span class="maximum-value">/5</span> </span><span class="star-rating" role="img" aria-label="Được xếp hạng 5.00/5 sao"><span class="star-rating_value" style="width: 100%;"></span></span><span class="total_vote hidden"><span class="vote_number">1</span><span class="vote_text">vote</span></span></a></div>
            <div class="villa_custom_field">
               <table>
                  <tbody>
                     <tr>
                        <td><i class="mask_icon vi_tri"></i></td>
                        <td class="villa_address" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Khuê Mỹ, Ngũ Hành Sơn, Đà Nẵng</span></td>
                     </tr>
                     <tr class="villa_detail">
                        <td><i class="mask_icon villa"></i></td>
                        <td>4 phòng ngủ, 4 giường, 4 toilet</td>
                     </tr>
                     <tr class="unity">
                        <td><i class="mask_icon be_boi"></i></td>
                        <td>Có bể bơi</td>
                     </tr>
                     <tr class="so_nguoi">
                        <td><i class="mask_icon guest"></i></td>
                        <td>8 - 12 người</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <span class="design0" itemprop="telephone">0943333333</span>
            <div class="product-link"><a rel="nofollow bookmark" href="https://ticotravel.com.vn/villa/villa-da-nang-tico-15-ngu-hanh-son/">Xem chi tiết</a></div>
         </div>
      </div>
   </div>
</div>

<div class="footer-sidebar row full-width">
<div class="long-width">
<div class="footer-widget width60">
<aside id="custom_html-4" class="widget_text widget widget_custom_html"><div class="textwidget custom-html-widget"><div class="footer-logo under_line"><strong>Tico</strong> Travel</div>
<div class="footer-info">
CÔNG TY CP THƯƠNG MẠI VÀ DỊCH VỤ TICO GROUP
<p <li="">ĐKKD: 0107959328 do sở KH&amp;ĐT TP.HÀ NỘI cấp ngày: 15/8/2017
</p><ul>
<li><strong>VP Hà Nội:</strong><span><a href="https://g.page/Ticotravel?share" target="_blank" rel="noopener nofollow">Lotus205 - KĐT Goldsilk Complex, Vạn Phúc, Hà Đông, TP. Hà Nội</a></span></li>
<li><strong>VP Vũng Tàu:</strong><span><a href="https://www.google.com/maps?ll=10.332942,107.085344&amp;z=15&amp;t=m&amp;hl=en&amp;gl=US&amp;mapclient=embed&amp;cid=4903398320217530980" target="_blank" rel="noopener nofollow">79 Võ Thị Sáu, Phường 2, Tp. Vũng Tàu</a></span></li>
<li><strong>VP Đà Lạt:</strong><span><a href="https://www.google.com/maps/place/TICO+TRAVEL+%C4%90%C3%80+L%E1%BA%A0T/@11.9431839,108.4685783,14z/data=!4m5!3m4!1s0x0:0x5c8d7b33f793a22a!8m2!3d11.9429315!4d108.4783634" target="_blank" rel="noopener nofollow">KĐT Nam Hồ, Phường 11, TP. Đà Lạt</a></span></li>
<li><strong>Hotline:</strong><span><a href="tel:0943333333" target="_blank" rel="noopener nofollow">0943333333</a></span></li>
<li><strong>Email:</strong> <span><a href="mailto:info@ticotravel.com.vn" target="_blank" rel="noopener nofollow">info@ticotravel.com.vn</a></span></li>
<li><strong>Support:</strong><span> Thứ 2 - Thứ 7 : 8.00 AM - 17.00 PM</span></li>
</ul>
</div></div></aside>        </div>
<div class="footer-widget width40">
<aside id="custom_html-5" class="widget_text widget widget_custom_html"><h3 class="widget-title">VỀ CHÚNG TÔI</h3><div class="textwidget custom-html-widget"><ul>
<li><a href="https://ticotravel.com.vn/gioi-thieu-ve-ticotravel/">Giới thiệu Tico Travel</a></li>
<li><a href="https://ticotravel.com.vn/chinh-sach-thanh-toan/">Chính sách thanh toán</a></li>
<li><a href="https://ticotravel.com.vn/chinh-sach-van-chuyen/">Chính sách vận chuyển</a></li>
<li><a href="https://ticotravel.com.vn/chinh-sach-huy-hoan-tra/">Chính sách hủy/ hoàn trả</a></li>
<li><a href="https://ticotravel.com.vn/chinh-sach-bao-mat-thong-tin/">Chính sách bảo mật thông tin</a></li>
<li><a href="https://ticotravel.com.vn/quy-trinh-thue-biet-thu/">Quy trình đặt giữ chỗ</a></li>
<li><a href="https://ticotravel.com.vn/cau-hoi-thuong-gap/">Câu hỏi thường gặp</a></li>
<li><a href="https://ticotravel.com.vn/lien-he/">Liên hệ</a></li>
</ul>
<span id="nuttaigget1"><button id="getclick1" style="background: #ffbb00; color: #ffffff; border-radius: px"><img style="display:inline-block;width:20px;vertical-align: middle;padding:0px;margin:0px;border-radius:0px;border:none;height:auto;box-shadow:0px 0px 0px" src="https://ticotravel.com.vn/wp-content/plugins/getlink-pro/inc/img/dow.svg"> Nhận ưu đãi <b id="nhay-box1"><span id="nhay-so1"></span></b></button></span>
<p><a id="hienthi1"></a></p>
</div></aside>          <aside id="custom_html-6" class="widget_text widget widget_custom_html"><div class="textwidget custom-html-widget"><div class="footer-facebook"><a class="under_line" href="https://www.facebook.com/TicoTravelHN/" rel="noopener nofollow"><img src="https://ticotravel.com.vn/wp-content/themes/ticotravel/assets/images/ticotravel/cover-footer-facebook.jpg" alt="Fanpage Facebook Tico Travel"></a><span>Facebook Page</span></div></div></aside>        </div>
</div>
</div>
<style type="text/css">

  .footer-sidebar {
    color: #f1f1f1;
    background-size: contain;
    background-position: bottom center;
    position: relative;
    background-color: #00233f;
    padding-top: 40px;
    padding-bottom: 10px;
    float: left;
    width: 100%;
}
.main-loop-heading h2{
  font-size: 1.4em;
    line-height: 1.6;
    margin: 0;
    padding: 1em 0 0.8em 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #0b3f67;
}

a {
    text-decoration: none;
    color: #0b3f67;
    cursor: pointer;
}

#getclick1 {
background: #333;
color: #fff;
padding: 10px 17px 10px 17px;
border-radius: 30px;
cursor: pointer;
font-family: Arial, sans-serif;
font-size: 18px;
font-weight: bold;
text-transform: uppercase;
border:none;
outline: none;
width:auto !important;
text-decoration: none;
}
#getclick1:hover{opacity:0.7}

.main-loop-heading h2:after {
  content: "";
  display: block;
  height: 4px;
  width: 36%;
  max-width: 80px;
  background: #fa9600;
  margin-top: 6px;
}

.single-product-loop h3 {
    font-size: 1.1em;
    line-height: 1.35;
    text-transform: uppercase;
    font-weight: 600;
    max-height: 3.5em;
    overflow: hidden;
    margin: 0;
    padding: 5px 0;
    color: #e68900;
}

.single-product-loop {
    box-shadow: 0px 3px 6px #00000024;
    margin-bottom: 5px;
    border-radius: 20px 0 20px 0;
    transition: all .3s;
    background: #fff;
}

.product-thumbnail {
    position: relative;
}
.product-thumbnail a {
    min-height: 127px;
    padding-bottom: 81%;
    display: inline-block;
    width: 100%;
    position: relative;
}

.product-thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100% !important;
    border-radius: 20px 0 20px 0;
}

.single-product-loop .product-price {
    font-size: 1.2em;
    padding: 5px 10px 3px;
    color: #fff;
    position: absolute;
    bottom: 15px;
    background: #0b3f67cc;
    font-weight: 600;
}

.single-product-loop .product-info {
    padding: 0 1% 0 4%;
    font-size: 1em;
}

.villa_custom_field {
    margin-top: 3px;
}

.product-link {
    display: inline-block;
    clear: both;
    border-top: 2px solid #fa9600;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
}
</style>
